.about-text-justified {
  text-align: justify;
}

.about-content {
    margin: 20px 0px;
}

.right-content-content-deep {
	font-weight: 600;
    font-size: 36px;
    margin-bottom: 20px;
	color: #ffffff;
}

.feature-about-deepmachine {
    background: #333333;
    padding: 50px 0px;
}

<<<<<<< HEAD
.content-about-deepmachine {
	color: #ffffff;
}
=======
.idea1 {
    background: #333333;
    padding: 150px;
    padding-top: 65px;
}
>>>>>>> f8d592b2d92427fb6ed2709ae27c00022351736d
