.about-text-justified {
  text-align: justify;
}

.text-center-about {
  text-align: center;
}

.about-content {
    margin: 20px 0px;
}

.right-content-content-deep {
	font-weight: 600;
    font-size: 36px;
    margin-bottom: 20px;
	color: #86A07C;
}
