.about-text-justified {
  text-align: justify;
}

.about-content {
    margin: 20px 0px;
}

.right-content-content-deep {
	
    margin-bottom: 20px;

	color: #333333;
}

.feature-about-deepmachine {
    background: #F1F1F1;
    padding: 50px 0px;
}

.content-memberships-deepmachine {
    color: #ccc;
}
.content-about-deepmachine {
	color: #333333;
}

.idea1-div {
    background: #333333;
    padding-bottom: 150px;
    padding-top: 65px;
}

.idea2-div {
    background: #F1F1F1;
    padding-bottom: 150px;
    padding-top: 65px;
}

.list-content-about-deep {
    font-size: 13px;
}

.margin-deep {
    margin-bottom: 20px;
}

.margin-ic-memberships {
    margin-bottom: 35px;
    margin-top: 20px;
}

.content-binary-deepmachine {
    color: #333333;
}

.margin-text-memberships {
    margin-bottom: 30px;
    font-weight: 500;
    font-size: 30px;
}

.content-about-deepmachine-grey {
    color: #333333;
}

.p-membership-bold {
    font-weight: 500;
    margin-bottom: 30px;
}

.color-questions-deepmachine h2 {
    color: #333333;
}

.deppmachine-binary-content {
    background: #333333;

}

.background-binary-content {
    background: #F1F1F1;
    padding-bottom: 150px;
    padding-top: 65px;
}

<<<<<<< Updated upstream
.idea3-div {
    background: #F1F1F1;
    padding-top: 35px;
}

.margin-text-tools {
    margin-bottom: 30px;
}

.image-width-ic {
    width: 75px;
}

.icon-index1 {
    width: 90px;
    display: inline-block;
    margin-bottom: 25px;
    margin-right: 12px;
}
